body {
	font-family: 'Roboto', sans-serif;
}
.filemap {
	padding: 1em;
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
}
.filemap ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.filemap-description {
	padding-bottom: 1em;
	color: #616161;
}
.folder-wrap .file, .folder-wrap .folder-wrap {
	margin-left: 1.5em;
}
.filemap .folder-wrap {
	margin-top: 0.5em;
}
.filemap .folder-wrap:first-child {
	margin-top: 0;
}






/*Define Accordion box*/
.filemap2 {
	width: 830px;
	overflow: hidden;
	padding: 1em;
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
}

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.filemap2 .folder2:target { background:#FFF; padding:10px;}
.filemap2 .folder2:target:hover { background:#FFF; }
.filemap2 .folder2:target .file2 {display:block;}

/*set style of closed slide*/
.filemap2 .folder2 { float:left;	overflow:hidden; color:#333; cursor:pointer; margin:3px; }
.filemap2 .folder2:hover {background:#444;}
.filemap2 .folder2 .file2 { display:none; }
/*End General Accordion****************************************************************************/

/*Vertical Accordion *************************************************************************/
.filemap2 .folder2{ width:100%; height:40px;
	-webkit-transition:height 0.2s ease-out;
	-moz-transition:height 0.2s ease-out;
  	-o-transition:height 0.2s ease-out;
	-ms-transition:height 0.2s ease-out;
  	transition:height 0.2s ease-out;
}
/*Set height of the slide*/
.filemap2 :target{ height:250px; width:97%; }

/*Set position of the number on the slide*/
.filemap2 .folder2:after{ top:-60px;left:810px;}
.filemap2 .folder2:target:after{ left:-9999px;}
